@CHARSET "UTF-8";
/* Edited with EditCSS */
/**** LINK-tag style sheet style_default.css ****/

@CHARSET "UTF-8";

h1,h2,h3,h4,h5 {
	font-family: arial black, arial;
	text-align: center;
}

#fundo {
	background: #f0f0f0 url(/Pedalando/img/catraca.png) repeat;
	opacity: 0.9;
}

#titulo{
	position: relative;
	margin-top: 50px;
}
#titulo a{
	position: relative;
	margin-top: 50px;
	font-size: 60px;
	font-style: italic;
	font-family: "Comic Sans MS", cursive, sans-serif;
	color: blue;
}
#header{
    margin: 100px auto 0;
    margin-top: 0px;
	width: 900px;
    height: 200px;
	background: black;
	border: 1px solid;
}

#body{
	margin: 100px auto 0;
    margin-top: 0px;
	width: 900px;
	min-height: 400px;
	background: #f0f0f0;
	border: 1px solid gray;
}

#footer{
    margin: 100px auto 0;
    margin-top: 0px;
    margin-bottom: 0px;
	width: 900px;
    height: 50px;
	background: black;
	border: 1px solid;
    text-aling: center;
}

#menu{
	margin-left:100px;
	margin-right:100px;
	text-aling:center;	
}

li.cabeca_menu{
	position:relative;
	top:0;
	left:7%;
	 display:inline; 
	 padding: 4px 8px; 
	 border: 1px solid #333;
	 color: #111;
	 float:left;
}

li.cabeca_menu ul{
	position:absolute;
	top:28px;
	left:-2px;
	list-style-type:none;
	margin:0;
	padding:0;
	z-index: 2;
}

ul.corpo_menu li{
	background:black;
	border-bottom: 1px solid #333;
	padding:3px;
	width:80px;
}

li.cabeca_menu:hover{
	background:black;
	color: white;
}

ul.corpo_menu li:hover{
	background: white;
	color: black;
}

ul.corpo_menu li a{
	color: white;
	display: block;
	text-aling:center;
}

ul.corpo_menu li a:hover{
	color:black;
}

a{
	text-decoration: none;
}
 
#content{
	display: block;
	position:relative;
	top:50px;
	margin:20px;
	padding:20px;
 }

form{
	display:block;
	margin: 1em auto 0;
}

input[type=text], input[type=password] {
	display: block;
	margin: 0 0 1em 0;
	width: 280px;
	border: 1px solid black;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	padding: 1em;
}

button[type=submit]{
	margin-right: 1em;
	padding: 6px;
	text-decoration: none;
	font-size: 12px;
	-moz-border-radius: 4px;
	background: black;
	color: white;
	box-shadow: 0 1px 0 white;
	-moz-box-shadow: 0 1px 0 white;
	-webkit-box-shadow: 0 1px 0 white;
	border:1px solid white;
}

button[type=submit]:hover{
	margin-right: 1em;
	padding: 6px;
	text-decoration: none;
	font-size: 12px;
	-moz-border-radius: 4px;
	box-shadow: 0 1px 0 black;
	-moz-box-shadow: 0 1px 0 black;
	-webkit-box-shadow: 0 1px 0 black;
	background: white;
	color:black;
	border:1px solid black;
	cursor: pointer;
}

select{
	border: 1px solid black;
	width: 50px;
	height: 20px;
	color: black;
	margin: 10px auto;
}

#erros {
	margin: 100px auto 0;
    margin-top: 20px;
	width: 890px;
	border: 1px solid;
	padding: 5px;
	color: #393939;
	font-size: 15px;
	background: #e6b6b6;
}

fieldset {
	position: relative;
	width: 300px;
	margin: auto;
	margin-bottom: 5em;
	display: block;
	border:1px solid black;
}

#antes, #mesAntes, #depois, #mesDepois{
   display: inline;
	width: 30px;
	height: 30px;
	padding:5px;
}
#anoAntes, #anoDepois{
	display: inline;
	width: 70px;
	height:30px;
	padding:5px;
}